:root {
    --primary-color: #151c24;
    --primary-color-rgb: 120, 202, 92;

    --secondary-color: #599da6;
    --secondary-color-rgb: 23, 149, 16;

    --third-color: #ff5f02;
    --third-color-rgb: 23, 149, 16;
}
